@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond&family=Patua+One&family=Prompt:ital,wght@0,100;0,600;1,900&family=Righteous&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");
* {
  font-family: "EB Garamond", monospace;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
h1, h1 > a,
h2,
h2 > a,
h3,
h3 > a,
h4,
h4 > a,
h5,
h5 > a {
  font-family: "Anonymous Pro", monospace;
  font-weight: 600;
  color: inherit;
}

h1 {
  font-family: "Righteous", cursive;
  font-size: 5em;
}

a {
  color: var(--background, #fbfbfb);
  font-weight: 600;
  opacity: 0.9;
}
a:hover {
  opacity: 1;
}

.gb-title {
  position: relative;
  padding-top: 0.25em;
  line-height: 1em;
}
.gb-title::after {
  content: "";
  position: absolute;
  height: 0.1em;
  background: var(--highlight, #d5dd5d);
  bottom: 36px;
  left: 0;
  --width: 2em;
  animation: expand-width;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}
.gb-title.small {
  font-weight: 400;
}

.gb-text {
  margin: 0;
  font-size: 2.5em;
  max-width: 34ch;
  font-weight: 200;
  letter-spacing: 1px;
}
.gb-text em {
  font-style: normal;
  color: var(--highlight, #d5dd5d);
}

.gb-button {
  border: none;
  outline: none;
  display: block;
  padding: 10px 12px;
  font-size: 1.7em;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background: var(--background, #fbfbfb);
  color: var(--background, #454545);
}
.gb-button.highlight {
  background: var(--highlight, #d5dd5d);
  color: var(--background, #fbfbfb);
}
.gb-button:hover {
  filter: brightness(105%);
}
.gb-button:active {
  filter: none;
}

@keyframes expand-width {
  from {
    width: 0;
  }
  to {
    width: var(--width, 100%);
  }
}
.homepage-container {
  height: 100vh;
  overflow-y: scroll;
}

.homepage-banner {
  min-height: 100vh;
  height: fit-content;
  width: min(100%, 1280px);
  margin: auto;
  display: grid;
  grid-template-rows: 20vh 220px fit-content(10px) auto 10vh;
  grid-template-columns: 25px 1fr 10vw 1fr 25px;
}
.homepage-banner .logo {
  grid-row: 2;
  grid-column: 4/span 1;
  font-size: 4.5em;
}
.homepage-banner .description {
  grid-row: 3/span 1;
  grid-column: 4/span 1;
}
.homepage-banner .description a {
  color: var(--highlight, #d5dd5d);
}
.homepage-banner .about-link {
  display: block;
  margin-top: 10vh;
}

.homepage-products {
  grid-row: 2/span 2;
  grid-column: 2/span 1;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.homepage-product-preview {
  height: 54px;
  padding: 15px;
  color: var(--background, #fbfbfb);
  border: 4px solid;
  border-radius: 10px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
}
.homepage-product-preview .logo {
  height: 54px;
  width: 54px;
  border-radius: 10px;
}
.homepage-product-preview .name {
  font-weight: 400;
  font-size: 1.5em;
  width: min-content;
}
.homepage-product-preview .name + .property {
  margin-top: 6px;
}
.homepage-product-preview .property {
  font-weight: 400;
  font-size: 1.2em;
  white-space: nowrap;
  width: min-content;
}
.homepage-product-preview .property + .homepage-product-preview .property {
  margin-top: 6px;
}
.homepage-product-preview:hover {
  color: var(--highlight, #d5dd5d);
}
.homepage-product-preview + .homepage-product-preview {
  margin-top: 20px;
}

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background, #454545);
  color: var(--background, #fbfbfb);
}

/*# sourceMappingURL=/global.css.map */